.Fondo{
    position: absolute;
    background-color: white;
    width: 1920px;
    height: 1080px;
    margin: auto;
}
.BarraNegra{
    float: right;
    background-color: black;
    width: 110px;
    height: 800px
} 
.Encabezado{
    width: 1400px;
    height: 41px;
    background-color: blue;
    position: absolute;
}
.Logo{
    margin-right: 43px;
    position: absolute;
    width: 196px;
    height: 44px;
}
.ParteDerecha{
    left: 461px;
    position: absolute;
    width: 230px;
    height: 41px;
}
.ParteDerecha2{
    left: 733px;
    position: absolute;
    width: 132px;
    height: 41px;
}
.Lupa{
    left: 884.7px;
    position: absolute;
    width: 27px;
    height: 27.01px;
}
.Carrito{
    left: 984.67px;
    position: absolute;
    width: 33px;
    height: 31.5px; 
}
.Tarjeta{
    position: absolute;
    top: 35px;
    left: 127px;
}
.FlechaArriba{
    position: relative;
}
.FlechaAbajo{
    position: relative;
}
.Cantidad{
    position: relative;
}
.Numero4{
    position: relative;
}
.Numero5{
    position: relative;
}
.Numero6{
    position: relative;
}