.Fondo{
    position: absolute;
    background-color: white;
    width: 1920px;
    height: 1080px;
    margin: auto;
}
.BarraNegra{
    float: right;
    background-color: black;
    width: 110px;
    height: 800px
} 

