body{
    font-family:'Courier New', Courier, monospace;
}

nav ul {
    display: flex;
    justify-content: space-between;
    font-size: 1.5vi;
    padding: 2vw;
    list-style-type: none;
    background-color: aquamarine;
    border: 2.5vi double #000;
}

a{
    text-decoration: none;
    color: black;
}
